/* Table of Contents:
 * 1.0: Default styles
 * 2.0: Template styles
*/

/* 1.0 Defaults */

/* Default styles for the page; generally element selectors w/o classes/ids */

body {
	background-color: black;
	color: white;
}

/* 2.0 Template styles */

/* These styles are specific to template pages */

.two-columns {
	column-count: 2;
}
