/* Table of Contents:
 * 1.0: Default styles
 * 2.0: Template styles
*/

/* 1.0 Defaults */

/* Default styles for the page; generally element selectors w/o classes/ids */

body {
	background-color: #000;
	color: #fff;
}

#front-page-carousel {
	height: fit-content;
	overflow: hidden;
}

.carousel-image {
	width: 100%;
	padding-top: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* 2.0 Template styles */

/* These styles are specific to template pages */

.two-columns {
	column-count: 2;
}

#banner{
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
